.container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

}

.logIn{
    display: flex;
    color: white;
    background-color: var(--deepTurquoise);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    width: 220px;
    height: 70px;
    border-radius: 100px;
    box-shadow: none !important;
    
}

.title{
    margin: 0px;
    text-align: left;
    font-size: 50px;
}

.subtitle{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 50px;
}

.usernamePassword{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    align-items: left;
    position: relative;

}

.loginSignupInput{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
    padding-left: 40px;
    border-radius: 0px;
    height: 70px;
    width: 600px;
    /* position: relative; */
}

.loginSignupInputIcon
{
    position: absolute;
    top: 32.5%;
    left: 15px;
    margin: 0;
    padding: 0;
}

.form{
    display: flex;
    align-items: start;
    justify-content: center;
    /* background-color: red; */
}

.buttons{
    box-shadow: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 100px;
}

.forgotPassword{
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 55px;
    font-size: 15px;
}
