.container 
{
    display: flex;
    font-family: sans-serif;
    width: 100vw;
    height: calc(100vh - 100px);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    background-color: green;
}

.leftContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 100%;
    background-color: red;

}

.rightContainer{
    width: 50%;
    height: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.woman{
    height: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;

}

.logIn {
    background-color: #137882;
    color: white;
    width: 50vw;
    height: 5vh;
    border-radius: 10vh;
    border-color: #137882;



}

.signUp {
    background-color: white;
    width: 50vw;
    height: 5vh;
    border-radius: 10vh;

}
