.container 
{
    display: flex;
    font-family: sans-serif;
    width: 100vw;
    height: calc(100vh - 100px);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
 
}

.leftContainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width:40%;
    height: 100%;
    padding-left: 50px;



}

.rightContainer{
    width: 70%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;

}

.woman{
    height: 700px;
}



.logIn {
    background-color: #137882;
    color: white;
    width: 50vw;
    height: 5vh;
    border-radius: 10vh;
    border-color: #137882;



}

.signUp {
    background-color: white;
    width: 50vw;
    height: 5vh;
    border-radius: 10vh;

}

.toggleLoginSignup{
    display: flex;
    color: white;
    background-color: var(--genreHindi);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: var(--genreHindi);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 20px;
    font-weight: 300;
    width: 320px;
    height: 40px;
    border-radius: 10px;

}