.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContainer{
    display: flex;
    flex-direction: column;
    height: 40vh


}
.bottomContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    gap: 20px;
}
.songs{
    width: 60vw;
    height: 300px;
    padding-top: 15px;
    overflow-y: scroll;
    scrollbar-width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    gap: 0px;
    
}

.songInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0px;
    height: 50px;
    width: 90%;
    /* outline: 5px;
    outline-color: blue;
    outline-style: solid; */
    /* border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black; */
    padding: 10px;
    background-color: lightgray
   

}

.songInfoDark{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0px;
    height: 50px;
    width: 90%;
    /* outline: 5px;
    outline-color: blue;
    outline-style: solid; */
    /* border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black; */
    padding: 10px;
    background-color: rgb(179, 179, 179);
   
}

.songName{
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: 25px;
    font-weight: 500 !important;
    margin: 0;
    color: var(--deepTurquoise)
}

.songArtist{
    margin: 0;
    color: var(--deepTurquoise);
    display: flex;
    align-items: left;
    font-size: 15px;
}

.thumbnail{
    width: 55px;
    height: 55px;
    object-fit: fill;
}

.subtitle{
    margin: 0
}

.newSong{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.urlInput{
    width: 57.5vw;
    padding-left: 40px;
}

.uploadButton{
    background-color: var(--genreHindi);
    color: white;
    width: 30vw;
    height: 5vh;
    border-radius: 10vh;
    box-shadow: none;
}

.urlAndLink{
    display: flex;
    flex-direction: row;
    position: relative;
    
    
}

.link{
    position: absolute;
    margin: 0;
    top: 32.5%;
    left: 15px;

}

.nameAndArtist{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: top;
    justify-content: center;

}

.icon{
    font-size: 40px;
}

.rightSongInfo{
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
    width: 50%;
    gap: 90px;
    padding-right: 1px;
}

.leftSongInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 20px;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.songLength{
    color: var(--deepTurquoise);
}