@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  :root
  {
      --bg: #F6F7F9;
      --primary: #3F51B5;
      --secondary: #E0E0E0;
      --primaryText: #212121;
      --voteUp: #4CAF50;
      --voteDown: #F44336;
      --tertiary: #7E57C2;
      
      --genreCantonese: #FFC107;
      --genreChinese: #FF5722;
      --genreChristian: #03A9F4;
      --genreEnglish: #8BC34A;
      --genreHainanese: #CDDC39;
      --genreHindi: #FF9800;
      --genreHokkien: #9C27B0;
      --genreMalay: #009688;
      --genreMandarin: #2196F3;
      --genreTV: #F44336;
      --genreTamil: #795548;
  
      --deepTurquoise: #137882;
      --gray: #757575;
      --lightBlue: #ECF4F8;
  }
  
.App {
  text-align: center;
}

body
{
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 55px;
  color: var(--deepTurquoise);
}

h2 {
  color: var(--gray);
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
}

h3 {
  color: var(--gray);
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

button, input[type="submit"] {
  border: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
}

input{
  font-size: 20px;
  width: 320px;
  height: 40px;
  border-radius: 10px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  background-color: var(--panel);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 10px;
}

.title {
  @apply font-bold leading-[65px]
}

}
