:root
{
    --bg: #F6F7F9;
    --primary: #3F51B5;
    --secondary: #E0E0E0;
    --primaryText: #212121;
    --voteUp: #4CAF50;
    --voteDown: #F44336;
    --tertiary: #7E57C2;
    
    --genreCantonese: #FFC107;
    --genreChinese: #FF5722;
    --genreChristian: #03A9F4;
    --genreEnglish: #8BC34A;
    --genreHainanese: #CDDC39;
    --genreHindi: #FF9800;
    --genreHokkien: #9C27B0;
    --genreMalay: #009688;
    --genreMandarin: #2196F3;
    --genreTV: #F44336;
    --genreTamil: #795548;

    --deepTurquoise: #137882;
    --gray: #757575;
    --lightBlue: #ECF4F8;
}